body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel-indicators {
  display: flex !important;
  gap: 0.5rem !important;
}

.carousel-indicators button {
  border-radius: 50% !important;
  height: 0.6rem !important;
  width: 0.6rem !important;
  margin: 0px !important;
  border: 2px solid transparent !important;
}

.active {
  outline: 1px solid white !important;
}

.carousel {
  top: 0 !important;
}

.pointer {
  cursor: pointer;
}

.brightness:hover {
  filter: brightness(1.05);
}

#logo-facebook {
  cursor: pointer;
}

#logo-facebook:hover {
  transform: scale(1.05);
}

#logo-twitter {
  cursor: pointer;
}

#logo-twitter:hover {
  transform: scale(1.05);
}

#logo-instagram {
  cursor: pointer;
}

#logo-instagram:hover {
  transform: scale(1.05);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 0 !important;
  border: 2px solid white !important;
}

.dropdown-item {
  color: white !important;
  font-size: 0.8rem !important;
  cursor: pointer;
}
